language: java
jdk:
- openjdk11
script:
- mvn clean install
after_success:
  - ./deploy.sh
before_install:
 - openssl aes-256-cbc -K $encrypted_60d2fc9a25e3_key -iv $encrypted_60d2fc9a25e3_iv
  -in deploy_key.enc -out deploy_key -d
