language: java
jdk:
- openjdk11
script:
- mvn clean install
sudo: required
addons:
  apt:
    packages:
      - sshpass
deploy:
  skip_cleanup: true
  provider: script
  script: ./deploy.sh
  on: 
    branch: master
