<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.spa</package>
	<author>joeldenning</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.spa.FrontendSPAActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.11.6</require_version>

	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.openmrs.module.spa.web.SinglePageApplicationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
</module>