<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developer</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>

	<activator>${project.parent.groupId}.${project.parent.artifactId}.SpaActivator</activator>

	<globalProperty>
        <property>spa.baseUrl</property>
        <defaultValue>/spa</defaultValue>
        <description>The base URL from where Single Page Applications are served</description>
    </globalProperty>

    <globalProperty>
        <property>spa.frontend.resourceBaseUrl</property>
        <defaultValue>/frontend</defaultValue>
        <description>The base URL from where Single Page Applications static resources are served</description>
    </globalProperty>

    <globalProperty>
        <property>spa.frontend.directory</property>
        <defaultValue>frontend</defaultValue>
        <description>The directory that holds static files for the single-spa</description>
    </globalProperty>

    <globalProperty>
        <property>spa.remote.assets.url</property>
        <defaultValue>https://spa-modules.nyc3.digitaloceanspaces.com/@openmrs/esm-app-shell/latest/</defaultValue>
        <description>An URL to frontend assets</description>
    </globalProperty>

    <globalProperty>
        <property>spa.remote.assets.enabled</property>
        <defaultValue>false</defaultValue>
        <description>Enable fetching of frontend assets from remote/filesystem sources (basic any directory)</description>
    </globalProperty>

	<servlet>
        <servlet-name>spaServlet</servlet-name>
        <servlet-class>org.openmrs.module.spa.servlet.SpaServlet</servlet-class>
    </servlet>

	<filter>
        <filter-name>spaFilter</filter-name>
        <filter-class>org.openmrs.module.spa.filter.SpaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>spaFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    
</module>