<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developer</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>

	<activator>${project.parent.groupId}.${project.parent.artifactId}.SpaActivator</activator>

	<globalProperty>
        <property>spa.baseUrl</property>
        <defaultValue>/spa</defaultValue>
        <description>The base URL from where Single Page Applications are served</description>
    </globalProperty>

    <globalProperty>
        <property>spa.headContentUrl</property>
        <defaultValue></defaultValue>
        <description>Url to fetch content to extend head </description>
    </globalProperty>

    <globalProperty>
        <property>spa.bodyContentUrl</property>
        <defaultValue></defaultValue>
        <description>Url to fetch content to extend the body </description>
    </globalProperty>

    <globalProperty>
        <property>spa.frontend.resourceBaseUrl</property>
        <defaultValue>/frontend</defaultValue>
        <description>The base URL from where Single Page Applications static resources are served</description>
    </globalProperty>

    <globalProperty>
        <property>spa.frontend.directory</property>
        <defaultValue>frontend</defaultValue>
        <description>The directory that holds static files for the single-spa</description>
    </globalProperty>

    <globalProperty>
        <property>spa.frontend.whiteList</property>
        <defaultValue>^(htt(p|ps):\/\/)?(www\.)?A?a?mpath\.com(\/\d[0-9]\/[a-zA-Z]*)?,http://www.kimosabe.com,//ampath-poc-test.fra1.digitaloceanspaces.com/import-map.json</defaultValue>
        <description>white list urls</description>
    </globalProperty>

    <!-- serve static files for the frontend on /frontend url pattern -->
    <filter>
        <filter-name>sparesourcefilter</filter-name>
        <servlet-name>spaResources</servlet-name>
        <filter-class>org.openmrs.module.spa.filter.SpaResourcesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sparesourcefilter</filter-name>
        <url-pattern>/frontend/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>spaResources</servlet-name>
        <servlet-class>org.openmrs.module.spa.servlet.SpaResourcesServlet</servlet-class>
    </servlet>

	<servlet>
        <servlet-name>spaServlet</servlet-name>
        <servlet-class>org.openmrs.module.spa.servlet.SpaServlet</servlet-class>
    </servlet>
    
	<filter>
        <filter-name>spaFilter</filter-name>
        <filter-class>org.openmrs.module.spa.filter.SpaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>spaFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    
</module>